
<section>
    <div class="container-fluid bg-dark text-light">
        <div class="container text-center py-3">
            <span class="fw-bolder">Made by Code Hopper</span>
        </div>
    </div>
</section>


</body>
<!-- custom js -->
<script src="./scripts/scrpit.js"></script>
</html>