<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Application</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./vendors/bootstrap-5.3.3-dist/css/bootstrap.css">
    <script src="./vendors/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

     <!-- custom css -->
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    
<section>
    <div class="container-fluid bg-dark">
        <div class="container ">
            <nav class="navbar navbar-dark  navbar-expand py-3">
                <span class="navbar-brand fs-5 fw-bolder">
                   <span class="fa-solid fa-database"></span> CRUD-Application
                </span>
            </nav>
        </div>
    </div>
</section>